<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
  .border {border-width: 10px; border-color:blanchedalmond; border-style: solid; }
  p{text-shadow:1px 0px 2px black; font: size 14px;}
</style>
<body class="text-white" style="background-color: black;">
  <!--Jumbotron--> 
  <div class="container-fluid">
     <div class="jumbotron text-center image-responsive" style="background-image: url(https://www.dlr.de/content/en/images/2020/3/landing-site-mars-mission.jpg?__blob=normal&v=2__ifc1920w); height: 400px; background-position: center; background-size: cover;">
       <h1 class="display-3" style="position: absolute; top: 8px; left: 30%; text-shadow: 5px 5px black"><b>Mission to Mars</b></h1>
       <br><br><br><br><br><br><br>
       <h3><a class="btn btn-warning btn-lg" style="border-color:black;" href="/scrape" role="button">Scrape New Data</a></h3>
       <p>{{mars_data.scrape_date}}</p>
       <p>{{mars_data.scrape_time}}</p>
       <p>Scrape time (seconds): {{mars_data.process_time}}</p>
     </div>
   </div>
   <!--Latest News-->
   <div class="container">
     <div class="row">
       <div>
         <div>
           <h4>Latest Mars News</h4>
           <h5 style="color: blanchedalmond">{{mars_data.Title}}</h5>
           <p style="color: beige">{{mars_data.Body}}</p>
         </div>
       </div>
     </div>
   </div> 
  <!--Featured Image-->
   <div class="container">
     <div class="row">
       <div class="col-md-8 col-sm-12">
         <h4>Featured Mars Image</h4>
         <img src="{{mars_data.featured_image_url}}" class="img-responsive border" style="max-width:100%; max-height: auto;" alt="Mars Featured Image"/>
       </div>
       <!-- Mars Facts -->
       <div class="col-md-4">
         <h4>Mars Facts</h4> 
         <span style="color:blanchedalmond"><table>{{mars_data.table | safe}}</table></span>
       </div>
     </div>
   </div>
   <!-- Mars Hemispheres -->
   <h3 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h4>
   <div class="card-deck">
   <hr>
   <div class="col-md-12">
     <div class="row" id="mars-hemispheres">
       {% for i in range(4) %}
         <div class="col-md-6">
           <div class="card text-white bg-danger" style="margin: 20px;">
           <img class="card-img-top" src="{{mars_data.hemispheres.url[i]}}" alt="..."/>
             <div class="card-body">
               <p class="card-text">{{mars_data.hemispheres.title[i]}}</p>
             </div>
           </div>
         </div>
         {% endfor %}
       </div>
     </div>
   </div>
 </div>  
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>